#nav1 {
	height: 40px;
	width: 100%;
	text-align: center;
	line-height: 40px;

	background: #fff;
	/* border-radius:0 0 15px 15px; */
	margin-bottom: 5px;
}
#log_div {
	height: 100%;
	width:20%;
	float: left;
	text-align: center;
	
	background: #5B5B5B;
	border-radius:15px 15px 15px 15px;
}

#manage_div {
	height: 100%;
	width: 10%;
	margin-left: 10px;
	float: left;
	text-align: center;

	border-right: 1px solid #DCDCDC;
	border-left: 1px solid #DCDCDC;
	
}

#user_div {
	height: 100%;
	width: 25%;
	float: right;
	text-align: center;

}

#user_info {
	height: 100%;
	width: 80%;
	float: left;
	background: #5B5B5B;
	border-radius:15px 0 0 15px;
}

#out {
	height: 100%;
	width: 19%;
	float: right;
	background: #ADADAD;
}

#nav2 {
	height: 280px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#nav2_1 {
	height: 280px;
	width: 48%;
	float: left;
	background: #fff;
	border: 1px solid #DCDCDC;
}

#nav2_1_1 {
	height: 36px;
	width: 100%;
	line-height: 36px;
	text-align: center;
	background: #F0F0F0;
	border: 1px solid #DCDCDC;
}

#nav2_1_2 {
	height: 120px;
	width: 100%;
	border: 1px solid #DCDCDC;
	/*background: #FF0000;*/
}

#map_div {
	height: 120px;
	width: 25%;
	float: left;
	border-right: 1px solid #DCDCDC;
}

#time_div {
	height: 120px;
	width: 74%;
	text-align:center;
	line-height: 120px;
	float: right;
}

#weather_div {
	height: 124px;
	width: 100%;
	text-align:center;
	line-height: 124px;
}

.wea_div {
	height: 124px;
	width: 33%;
	float:left;
	text-align:center;
	line-height: 124px;
}
.wea_date {
	height: 31px;
	width: 100%;
	text-align:center;
	line-height: 31px;
}
.wea_wea {
	height: 62px;
	width: 100%;
	text-align:center;
	line-height: 62px;
}
.wea_tem {
	height: 31px;
	width: 100%;
	text-align:center;
	line-height: 31px;
}

#nav2_2 {
	height: 280px;
	width: 51%;
	float: right;
	background: #fff;
	border: 1px solid #DCDCDC;
}

#tem_div{
	height:280px;
	width:50%;
	float:left;
	text-align:center;
	line-height: 280px;
}

#hum_div{
	height:280px;
	width:50%;
	float:right;
}

#nav3 {
	width: 100%;
	height: 288px;
	background: #fff;
	margin-top: 5px;
	border: 1px solid #DCDCDC;
}

#nav3_1 {
	height: 30px;
	width: 100%;
	background:#F0F0F0;
	text-align:center;
	line-height: 30px;
}

#data_info {
	height: 30px;
	width: 50px;
	float: left;
	text-align:center;
	line-height: 30px;
}
#data_btn {
	height: 30px;
	width: 32%;
	float: right;
	text-align:center;
	line-height: 30px;
}
.btn_by_date {
	height: 30px;
	width: 25%;
	float: left;
	text-align:center;
	line-height: 30px;
}
#data_area {
	height: 258px;
	width:100%;
	text-align:center;
	line-height: 258px;
}

/*当前时间的显示*/
#cuTime{
	font-size: 40px;
	color: #8E8E8E;
}